@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: hsla(72, 55%, 69%, 1);
  color: #224834;

  background: -webkit-linear-gradient(
    135deg,
    hsla(72, 55%, 69%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );
  height: 100vh;
}
.heading{
  font-size: 2.5rem;
}
.App h2{
  font-family: 'Lemon', serif;
}
